* {
    margin:  0 ;padding: 0 ;
}
#menu li {list-style: none;}
#menu {width: 200px; height: 500px; background: #043EB4}

#menu a{
    color: white;
    text-decoration: none;
}

#menu ul li {
    position: relative;
    line-height: 40px;
    width: 200px;
    height: 40px;
}

#menu ul li:hover { 
    background: #BABABA;
}

#menu ul li:hover ul {
    display: block;
}

#menu ul li ul {
    position: absolute;
    left: 200px;
    top: 0;
    display: none;
}

#menu ul li ul li {
    background: #FE5757;
}