html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.main-box {
    width: 90%;
    margin: auto;
    background-color: gainsboro;
    border-radius: 10px;
}

.text-box {
    text-align: center;
    padding: 10px 0 10px 0;
}

.box{
    padding: 20px 10px 20px 10px;
    background-color: white;
    width: 50%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
    color: #288ad6;
}

.detail {
    font-size: 12px;
    color: slategrey;
}

.text-box {
    border-radius: 5px;
    width: 90%;
    text-align: left;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
}

.text-box-fix {
    border-radius: 5px;
    width: 95%;
    text-align: left;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
}

.text-box-selection {
    border-radius: 5px;
    width: 97%;
    text-align: left;
    padding: 10px 10px 10px 10px;
}

.text-box-area {
    border-radius: 5px;
    width: 97%;
    height: 100%;
    text-align: left;
    padding: 10px 10px 10px 10px;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.light:hover {
    box-shadow: 0 0px 10px 5px rgba(0, 219, 206, 0.5);
}

.light:focus{
    box-shadow: 0 0px 10px 5px rgba(255, 165, 57, 0.5);
}

.table-inside {
    padding-top: 5px;
    width: 100%;
}

.sub-box {
    background-color: #f6f6f6;
    width: 97%;
    margin: auto;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    border: 1px solid rgb(48, 46, 46,0.5);
}

.sub-box-2{
    background-color: #f6f6f6;
    width: 97%;
    margin: auto;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    border: 2px solid rgba(226, 94, 6, 0.7);
}

#apply-button{
    width: 100%;
    border-radius: 5px;
    height: 55px;
    background-color: rgba(226, 94, 6, 0.7);
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
}

::selection {
    background: rgba(2, 1, 0, 0.2);
}