#all {
    width: 600px;
    height: 600px;
    background-color: #50B9FF;
    /* float: left; */
    margin: auto;
}
.dong {
    width: 600px;
    height: 200px;
    background-color: #FF5950;
}

.xam {
    width: 200px;
    height: 200px;
    background-color: grey;
    float: left;
}

.trang {
    width: 200px;
    height: 200px;
    background-color: white;
    float: left;
}
/* .trang {
    width: 200px;
    height: 200px;
    background-color: white;
} */

#p-2 {
    width: 1000px;
    height: 400px;
    background-color: #50B9FF;
    margin: auto;
}

.d {
    width: 1000px;
    height: 200px;
}

.red{
    width: 200px;
    height: 200px;
    background-color: #FF5950;
    float: left;
}
.whi{
    width: 200px;
    height: 200px;
    background-color: white;
    float: left;
}
.yel{
    width: 200px;
    height: 200px;
    background-color: #FFC300;
    float: left;
}

.gre{
    width: 200px;
    height: 200px;
    background-color: #229954;
    float: left;
}

.blu{
    width: 200px;
    height: 200px;
    background-color: #5DADE2;
    float: left;
}
.bur{
    width: 200px;
    height: 200px;
    background-color: #FE4BEF;
    float: left;
}
/* ------------------------------ */
#p-3{
    width: 1000px;
    height: 900px;
    /* background-color: #5DADE2 ; */
    margin: auto;
}
.d-3-1{
    width: 400px;
    height: 100px;
    background-color: #FF5950;
    margin-left: 300px;
}

.d-3-2{
    width: 600px;
    height: 100px;
    background-color: #FF5950;
    margin-left: 200px;
}

.d-3-3{
    width: 800px;
    height: 100px;
    background-color: #FF5950;
    margin: auto;
}

.d-3{
    width: 1000px;
    height: 200px;
    /* background-color: white; */
}

.tru{
    width: 100px;
    height: 200px;
    background-color: gray;
    float: left;
}

.tru-2{
    width: 100px;
    height: 200px;
    background-color: gray;
    float: right;
}

.margin-1 {
    margin-left: 300px;
}
.margin-2 {
    margin-left: 200px;
}
.margin-3 {
    margin-left: 400px;
}
.margin-4-1{
    margin-left: 100px;
}
.margin-4 {
    margin-left: 600px;
}

.d-3-1-1{
    width: 400px;
    height: 200px;
    margin: auto;
}
.d-3-2-2{
    width: 600px;
    height: 200px;
    margin: auto;
}
.d-3-3-3{
    width: 800px;
    height: 200px;
    margin: auto;
}

#p-4{
    width: 700px;
    height: 900px;
}

